{{# partial "resultado" }}

<div class="alert alert-danger">No existe la metodolog&iacute;a <strong>{{ metodologiaInexistente }}</strong>. Por favor, seleccione otra.</div>
<img src="/imagenes/metodologiaNoEncontrada.png" alt="\_(o_o)_/">

{{/ partial }}

{{> Metodologias/metodologiasComparacion.hbs }}
