{{# partial "resultado" }}

<div class="alert alert-danger">No le corresponde acceder a esta metodolog&iacute;a.</div>
<img src="/imagenes/metodologiaNoEncontrada.png" alt="\_(o_o)_/">

{{/ partial }}

{{> Metodologias/metodologiasComparacion.hbs }}
