{{# partial "acciones" }}

<div class="alert alert-danger">Faltan elementos para realizar las comparaciones.</div>
<img src="/imagenes/metodologiaNoEncontrada.png" alt="\_(o_o)_/">

{{/ partial }}

{{> Metodologias/metodologiasTemplate.hbs }}
