{{# partial "contenido" }}

<head>
	<title>Comparaci&oacute;n de Metodolog&iacute;as</title>
	<link rel="stylesheet" href="/metodologias.css">
</head>

<header>

	<div class="jumbotron jumbotron-fluid text-center">
		<h1 id="titulo">Comparaci&oacute;n de Metodolog&iacute;as</h1>
		<p>Proceda a elegir una metodolog&iacute;a para determinar cu&aacute;les empresas las cumplen.</p>
	</div>

</header>
	
<body>

	{{# block "acciones"}}

	{{/ block}}
	
</body>

{{/ partial }}

{{> template.hbs }}