{{# partial "contenido" }}

    <style>
        .login-retry.alert.alert-danger {

            margin: 0 30% 20px;

        }

        .cerdito {
            width: 40%;
        }

        .jumbotron {
            padding: 50px 25px;
            height: 200px;
            color: #fff;
            background-color: #2A93DF;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }

    </style>

    <div class="jumbotron jumbotron-fluid text-center">
        <h1 id="titulo">Creacion Empresas</h1>
        <p></p>
    </div>

    <div class="login-retry alert alert-danger">
        <strong>Pagina en Construccion!</strong> Vuelva mas tarde.
    </div>

    <img class="cerdito" src="/imagenes/jaaj.jpg" alt="\_(o_o)_/">

{{/partial}}



{{> template.hbs }}