<head>

    <link rel="stylesheet"  href="loginRetry.css">

</head>

{{# partial "retry" }}

    <div class="login-retry alert alert-danger">
        <strong>Usuario incorrecto!</strong> Intente nuevamente.
    </div>

{{/partial}}

{{> login.hbs }}