{{# partial "titulo" }}
    <title>Consultorea.me</title>
{{/partial}}


<head>

    <link rel="stylesheet" href="yaLogeado.css">

</head>

{{# partial "contenido" }}

    <div class="contenido">

        <div class="already-logged alert alert-success">
            <strong>Ya has ingresado!</strong> Puedes navegar el sitio web normalmente.
        </div>

    </div>

{{/partial}}

{{> template.hbs }}